#!/bin/bash

alias loop=loop
alias g=git
alias d=docker
alias k=kubectl
alias kcd='kubectl config set-context $(kubectl config current-context) --namespace '
alias kshell='kubectl run -it shell --rm --image giantswarm/tiny-tools --restart Never -- sh'

alias nowrap="less -S -# 20"
alias wrapon="tput smam"
alias wrapoff="tput rmam"

alias killjobs='kill $(jobs -p)'

# Add an "alert" alias for long running commands.  Use like so:
#	sleep 10; alert
alias alert='notify-send --urgency=low -i "$([ $? = 0 ] && echo terminal || echo error)" "$(history|tail -n1|sed -e '\''s/^\s*[0-9]\+\s*//;s/[;&|]\s*alert$//'\'')"'

alias sc="cd ~/projects/go/src/github.com/kubernetes-incubator/service-catalog"


# Enable aliases to be sudo’ed
alias sudo='sudo '

# Enable aliases to be watched
alias watch='watch '

# IP addresses
alias pubip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="sudo ifconfig | grep -Eo 'inet (addr:)?([0-9]*\\.){3}[0-9]*' | grep -Eo '([0-9]*\\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ips="sudo ifconfig -a | grep -o 'inet6\\? \\(addr:\\)\\?\\s\\?\\(\\(\\([0-9]\\+\\.\\)\\{3\\}[0-9]\\+\\)\\|[a-fA-F0-9:]\\+\\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Use bat instead of cat
alias cat="bat -p --paging=never"

# Use color in diffs
alias diff="diff --color=always"

# k get po -o yaml | yaml
alias yaml="bat -l yaml --paging=never"

# extract pid from docker inspect
# Usage:
# docker inspect mycontainer | pid
alias pid="jq '.[].State.Pid'"

